//*POLEVOY.SERGEY*\\
//*2016-2017*\\
//*Разработка шаблона по ГОСТУ*\\
//*http://infoinstant.ru/*\\
//*Авторство прошу не удалять!*\\
//*По всем вопросам прошу писать*\\
//*polevoy.sergey@hotmail.com**\\
//
//
//
//Файл-включает глобальные шрифты\\

@font-face {
    font-family:'Adver Gothic';
    src: url('../fonts/Adver Gothic.woff2') format('woff2'),
		url('../fonts/Adver Gothic.woff') format('woff');
    font-weight: 400;
    font-style: normal;
    font-stretch: normal;
    unicode-range: U+0022-0022;
}
@font-face {
    font-family:'Futuris';
    src: url('../fonts/Futuris Cyrillic.woff2') format('woff2'),
		url('../fonts/Futuris Cyrillic.woff') format('woff');
    font-weight: 400;
    font-style: normal;
    font-stretch: normal;
    unicode-range: U+0022-0022;
}
@font-face {
    font-family:'Helvetica';
    src: url('../fonts/HelveticaNeueCyr-Bold.eot');
	src: url('../fonts/HelveticaNeueCyr-Bold.eot?#iefix') format('embedded-opentype'),
		url('../fonts/HelveticaNeueCyr-Bold.woff2') format('woff2'),
		url('../fonts/HelveticaNeueCyr-Bold.woff') format('woff');
    font-weight: 700;
    font-style: normal;
    font-stretch: normal;
    unicode-range: U+0020-0491;
}

@font-face {
    font-family:'Helvetica';
    src: url('../fonts/HelveticaNeueCyr-Light.eot');
	src: url('../fonts/HelveticaNeueCyr-Light.eot?#iefix') format('embedded-opentype'),
		url('../fonts/HelveticaNeueCyr-Light.woff2') format('woff2'),
		url('../fonts/HelveticaNeueCyr-Light.woff') format('woff');
    font-weight: 300;
    font-style: normal;
    font-stretch: normal;
    unicode-range: U+0020-0491;
}

@font-face {
    font-family:'Helvetica';
    src: url('../fonts/HelveticaNeueCyr-Roman.eot');
	src: url('../fonts/HelveticaNeueCyr-Roman.eot?#iefix') format('embedded-opentype'),
		url('../fonts/HelveticaNeueCyr-Roman.woff2') format('woff2'),
		url('../fonts/HelveticaNeueCyr-Roman.woff') format('woff');
    font-weight: 400;
    font-style: normal;
    font-stretch: normal;
    unicode-range: U+0020-0491;
}
@font-face {
    font-family:'Open Sans Light';
    src: url('../fonts/Open Sans Light.woff2') format('woff2'),
		url('../fonts/Open Sans Light.woff') format('woff');
    font-weight: 300;
    font-style: normal;
    font-stretch: normal;
    unicode-range: U+0022-04B1;
}
@font-face {
    font-family:'Open Sans Semibold';
    src: url('../fonts/Open Sans Semibold.woff2') format('woff2'),
		url('../fonts/Open Sans Semibold.woff') format('woff');
    font-weight: 600;
    font-style: normal;
    font-stretch: normal;
    unicode-range: U+0022-04B1;
}
@font-face {
    font-family:'Open Sans';
    src: url('../fonts/Open Sans.woff2') format('woff2'),
		url('../fonts/Open Sans.woff') format('woff');
    font-weight: 400;
    font-style: normal;
    font-stretch: normal;
    unicode-range: U+0022-04B1;
}
@font-face {
    font-family:'Pragmatica';
    src: url('../fonts/Pragmatica Cyrillic.woff2') format('woff2'),
		url('../fonts/Pragmatica Cyrillic.woff') format('woff');
    font-weight: 400;
    font-style: normal;
    font-stretch: normal;
    unicode-range: U+0022-0022;
}
@font-face {
    font-family:'Scada';
    src: url('../fonts/Scada Bold.woff2') format('woff2'),
		url('../fonts/Scada Bold.woff') format('woff');
    font-weight: 700;
    font-style: normal;
    font-stretch: normal;
    unicode-range: U+0022-0491;
}
@font-face {
    font-family:'Scada';
    src: url('../fonts/Scada.woff2') format('woff2'),
		url('../fonts/Scada.woff') format('woff');
    font-weight: 400;
    font-style: normal;
    font-stretch: normal;
    unicode-range: U+0022-0491; 
}
@font-face {
    font-family:'WebSymbolsRegular';
    src: url('../WebSymbols-Regular.eot');
	src: url('../WebSymbols-Regular.eot?#iefix') format('embedded-opentype'),
		url('../WebSymbols-Regular.woff2') format('woff2'),
		url('../WebSymbols-Regular.woff') format('woff'),
		url('../WebSymbols-Regular.svg#WebSymbols-Regular') format('svg');
    font-weight: 400;
    font-style: normal;
    font-stretch: normal;
    unicode-range: U+0020-00D7;
}
