//*POLEVOY.SERGEY*\\
//*2016-2017*\\
//*Разработка шаблона по ГОСТУ*\\
//*http://infoinstant.ru/*\\
//*Авторство прошу не удалять!*\\
//*По всем вопросам прошу писать*\\
//*polevoy.sergey@hotmail.com**\\
//
//
//
//Файл-включает глобальные стили\\

@import "compass/css3";
@import "base/typography";

//mixin
@mixin LpaddingR($pad){
    padding-left: $pad;
    padding-right: $pad;
}
@mixin LmarginR($mar){
    margin-left: $mar;
    margin-right: $mar;
}



//Global Element options
img,
iframe {
    margin: auto;
    display: block;
    @include rhythm-margins(0.8);
    width: 100%;
}

a{
    text-decoration: none;
    opacity: 0.95;
    &:hover{
        cursor: pointer;
        opacity: 1;
    }
}
span{
    
}
 
