//*POLEVOY.SERGEY*\\
//*2016-2017*\\
//*Разработка шаблона по ГОСТУ*\\
//*http://infoinstant.ru/*\\
//*Авторство прошу не удалять!*\\
//*По всем вопросам прошу писать*\\
//*polevoy.sergey@hotmail.com**\\
//
//
//
//Compass (vertical_rythm,Susy,CSS3)
@import "base/font";
@import "compass/typography/vertical_rhythm";
@import "compass/typography";
@import "compass/typography/text";
@import "compass/css3/box-shadow";


//Переменные
$yellow:#fcb603;
$gray:#000;
$gray2:#21262b;
$t_gray:rgb(157, 164, 182);
$white: rgb(255,255,255);



//Глобальный размер шрифтов
$base-font-size:14px!global;
$base-line-height:18px!global;
$rhythm-unit:"rem" !global;
$grid-background-baseline-color:rgba(110, 110, 110, 0.65);
$rem-with-px-fallback: true !global;
@include establish-baseline;
@media only screen and(min-width:240px) and (max-width:480px) {
    $base-font-size: 12px!global;
    $base-line-height: 16px!global;
    $rhythm-unit: "rem";
    $grid-background-baseline-color: rgba(110, 110, 110, 0.65);
    @include establish-baseline;
}

@media only screen and(min-width:320px) and (max-width:480px) {
    $base-font-size: 10px!global;
    $base-line-height: 13px!global;
    $rhythm-unit: "rem";
    $grid-background-baseline-color: rgba(110, 110, 110, 0.65);
    @include establish-baseline;
}
@media only screen and(min-width:480px) and (max-width:760px) {
    $base-font-size: 12px!global;
    $base-line-height: 16px!global;
    $rhythm-unit: "rem";
    $grid-background-baseline-color: rgba(110, 110, 110, 0.65);
    @include establish-baseline;
}


body{
    background: #fff;
    font-family:'Scada';
}

//List Paragraf
h1 {
    font-family:'Scada';
    @include adjust-font-size-to(4rem);
    text-transform: uppercase;
    @extend %white;
    @extend %weight;
    line-height: 1;
    @include rhythm-padding(1.4);
    @include padding-trailer(0.8);
    & span{
        @include span(100%);
        @include adjust-font-size-to(2.292rem);
        font-weight: 700;
    }
    &:after{
        @extend %fix; 
    }
}

h2 {
    font-family:'Scada';
    @include adjust-font-size-to(3.44rem); 
    text-transform: uppercase;
    @extend %white;
    @extend %weight;
    line-height: 1;
    @include rhythm-padding(0);
    & span{
        @include span(100%);
        @include adjust-font-size-to(2.292rem);
        font-weight: 700;
        
    }
    &:after{
        @extend %fix; 
    }
    @media only screen and(min-width:320px) and (max-width:480px) {
        width: 98%;
    }
}

h3 {
    font-family:'Scada';
    @include adjust-font-size-to(2.635rem);
    text-transform: uppercase;
    color: $gray2;
    @extend %weight;
    @include padding-leader(0.7);
    @include padding-trailer(1);
    font-weight: 400;
    &:after{
        @extend %fix; 
    }
    
}

h4 {
    @include adjust-font-size-to(1.414rem);
    text-transform: uppercase;
}
p, 
a, 
li, 
span,
:not(main .sf_m_box_utp .sf_utp_text p),
:not(main .sf_m_box_utp .sf_utp_text a),
:not(main .sf_m_box_utp .sf_utp_text li),
:not(main .sf_m_box_utp .sf_utp_text span){
   @include adjust-font-size-to(1rem);
    text-transform: uppercase;
}
button{
    cursor: pointer;
    &:hover{
        opacity: 0.9;
        -webkit-box-shadow: 2px 0px 30px 9px rgba(0,0,0,0.75);
        -moz-box-shadow: 2px 0px 30px 9px rgba(0,0,0,0.75);
        box-shadow: 2px 0px 30px 9px rgba(0,0,0,0.75);
    }
}
