// Grid Сетка на Susy
// ============
@import "susy";
$susy: ( columns: 12, 
    gutters: 1/4, 
    math: fluid, 
    gutter-position: split, 
    container: 960px, 
    container-position: center, 
    column-width: false, 
    output:float, 
    
    debug: ( image: hide, 
        color: rgba(#66f, .25), 
        output: background, 
        toggle: top right, 
    ), );


