//*POLEVOY.SERGEY*\\
//*2016-2017*\\
//*Разработка шаблона по ГОСТУ*\\
//*http://infoinstant.ru/*\\
//*Авторство прошу не удалять!*\\
//*По всем вопросам прошу писать*\\
//*polevoy.sergey@hotmail.com**\\
//
//
//
//--------Mobi_-------------//
.toggle-nav {
    display:none;
}  
@media only screen and(min-width: 320px) and (max-width: 960px) {
.toggle-nav {
        padding:20px;
        position: fixed;
        right: 10px;
        top: 10px;
        display:inline-block;
        box-shadow:0px 1px 1px rgba(0,0,0,0.15);
        border-radius:3px;
        background:#ffb826;
        text-shadow:0px 1px 0px rgba(0,0,0,0.5);
        color:#000;
        font-size:20px;
        transition:color linear 0.15s;
        text-decoration: none;
        z-index:1000; 
    }
 
.toggle-nav:hover, .toggle-nav.active {
        text-decoration:none;
        color:#66a992;
        background:#303030;
    & .navi{
        border: 2px solid #303030;
        
        }
    }

}
@media only screen and(min-width: 769px) and (max-width: 960px) {
.toggle-nav {
        padding:20px;
        position: fixed;
        right: 24px;
        top: 51px;
        display:inline-block;
        box-shadow:0px 1px 1px rgba(0,0,0,0.15);
        border-radius:3px;
        background:#ffb826;
        text-shadow:0px 1px 0px rgba(0,0,0,0.5);
        color:#000;
        font-size:20px;
        transition:color linear 0.15s;
        text-decoration: none;
        z-index:1000; 
    }
 
.toggle-nav:hover, .toggle-nav.active {
        text-decoration:none;
        color:#66a992;
        background:#303030;
    & .navi{
        border: 2px solid #303030;
        
        }
    }

}
.navi{
    
}
//-------End---------------//
//-------Галерия----------//
//*******PART1***********//
/* Glisse: Overlay */
#glisse-overlay {
  background: rgba(245,205,46,1);}

#glisse-close {
  height: 40px;
  width: 40px;
  text-align: center;
  position: fixed;
  top:40px;
  right:40px;
  
  background-image: url(../img/close.png);
    &:after{
        height: 40px;
        width: 20px;
        display: block;
        color: #FFF;
        //content: "²";
        //font-family: WebSymbolsRegular;
        line-height: 40px;
        font-size: 20px;
        color: #DFDFDF;
        text-shadow: 0 1px 4px rgba(0, 0, 0, 0.5);
        -webkit-text-stroke: 0.8px #000;
        -webkit-mask-image: -webkit-gradient(linear, left top, left bottom, from(rgba(0, 0, 0, 0.4)), color-stop(100%, white), to(#dfdfdf)); 
    }
}



/* Prev/Next button */
.glisse-next a, .glisse-prev a {
  width: 40px;
  height: 40px;
  display: block;
  position: fixed;
  bottom: 10px;
  background:$yellow;
    z-index: 984;
}
.glisse-controls{
    z-index: 10000;
}
.glisse-next a, .glisse-prev a {
    border-radius: 10px;
  width: 100px;
  height: 40px;
  text-decoration: none;
  display: block;
  text-align: center;
  position: fixed;
  bottom: 10px;
  font-size: 20px;
  font-family: WebSymbolsRegular;
  line-height: 40px;
  color: #DFDFDF;
  text-shadow: 0 1px 4px rgba(0, 0, 0, 0.5);
  -webkit-text-stroke: 0.8px #000;
  -webkit-mask-image: -webkit-gradient(linear, left top, left bottom, from(rgba(0, 0, 0, 0.4)), color-stop(100%, white), to(#dfdfdf)); }
.glisse-next a {
  left: 45%;
  margin-left: 20px;
  transform: rotate(180deg);
}

.glisse-prev a {
  left: 56%;
  margin-left: -40px;
  transform: rotate(180deg); 
}

/* Legend */
.glisse-legend {
  position:fixed;
  display:block;
  padding: 1rem;
  bottom:10px;
  left:10px;
  color:#000;
    @include adjust-font-size-to(1.3rem); 
  background:#fff;
    z-index: 984;
}

//*******PART1***********//

//*******PART2***********//
/* Glisse: Hide elements by default */
/* Glisse: Hide elements by default */
#glisse-overlay, #glisse-close, #glisse-controls,#glisse-spinner{opacity:0;}

/* Glisse: Overlay */
#glisse-overlay {
    position:fixed;
    top:0;
    bottom:0;
    left:0;
    right:0;
    background-color:rgba(0,0,0,.75);
    z-index: 981;
}
    #glisse-overlay.loading #glisse-spinner {opacity:1;z-index: 984;} /* Display spinner */
    
/* Glisse: Overlay content */    
/* Glisse: Overlay content */
#glisse-overlay-content {
    position: fixed;
    top: 10%;
    right: 10%;
    bottom: 10%;
    left: 10%;
    background-repeat: no-repeat;
    background-position: 50% 50%;
    opacity: 0;
    -moz-background-size:       contain;
    -webkit-background-size:    contain;
    -o-background-size:         contain;
    background-size:            contain;
    -webkit-backface-visibility:hidden;
    backface-visibility:        hidden;
    z-index: 984;
}
    /* Hide images */
    #glisse-overlay-content img{display:none;}

    /* Shake effect */
    #glisse-overlay-content.shake {
        -webkit-animation: shake 600ms 1;
        -moz-animation:    shake 600ms 1;
        -ms-animation:     shake 600ms 1;
        -o-animation:      shake 600ms 1;
        animation:         shake 600ms 1;
    }

/* Glisse: Close button */
#glisse-close { cursor:pointer;z-index: 984; }

/* Glisse: Spinner */
#glisse-spinner {
    position:fixed;
    top: 50%;
    left: 50%;
    margin: -40px 0 0 -40px;
    height: 80px;
    width: 80px;
    background:rgba(0,0,0,.6) url(../img/loader.gif) center center no-repeat;
    border-radius:6px;
}

/* Glisse: Controls bar */
/* Wrapper */
#glisse-controls {}
    
    /* Prev/Next button */
    .glisse-next a, .glisse-prev a{
        -webkit-transition:all 100ms ease;
        -moz-transition:all 100ms ease;
        -o-transition:all 100ms ease;
        -ms-transition:all 100ms ease;
        transition:all 100ms ease;
        -webkit-user-select:none;
        -moz-user-select:none;
        user-select:none;
    }
    #glisse-controls .ended a {opacity:.3;cursor:default;} /* disabled effect */

/* Glisse: Keyframes */
@-webkit-keyframes shake {
    0%, 100% {-webkit-transform: translateX(0);}
    10%, 30%, 50%, 70%, 90% {-webkit-transform: translateX(-10px);}
    20%, 40%, 60%, 80% {-webkit-transform: translateX(10px);}
}

@-moz-keyframes shake {
    0%, 100% {-moz-transform: translateX(0);}
    10%, 30%, 50%, 70%, 90% {-moz-transform: translateX(-10px);}
    20%, 40%, 60%, 80% {-moz-transform: translateX(10px);}
}

@-ms-keyframes shake {
    0%, 100% {-ms-transform: translateX(0);}
    10%, 30%, 50%, 70%, 90% {-ms-transform: translateX(-10px);}
    20%, 40%, 60%, 80% {-ms-transform: translateX(10px);}
}

@-o-keyframes shake {
    0%, 100% {-o-transform: translateX(0);}
    10%, 30%, 50%, 70%, 90% {-o-transform: translateX(-10px);}
    20%, 40%, 60%, 80% {-o-transform: translateX(10px);}
}

@keyframes shake {
    0%, 100% {transform: translateX(0);}
    10%, 30%, 50%, 70%, 90% {transform: translateX(-10px);}
    20%, 40%, 60%, 80% {transform: translateX(10px);}
}
//*******PART2***********//

//-------Галерия End----------//



