//*POLEVOY.SERGEY*\\
//*2016-2017*\\
//*Разработка шаблона по ГОСТУ*\\
//*http://infoinstant.ru/*\\
//*Авторство прошу не удалять!*\\
//*По всем вопросам прошу писать*\\
//*polevoy.sergey@hotmail.com**\\
//
//
//
//Файл-глобальные миксины\\

//*Всплывающие окна*//
.remodal-wrapper{
    & .midd_text{
        @include span(100%);
        text-align: center;
        @include adjust-font-size-to(2rem);
        text-transform: uppercase;
        &_min{
            text-transform: none;
        }
    } 
    & img{
       @include span(10);
        @include push(1);
    }
    & .part_non{
        @include span(82%);
        text-align: left;
        padding-left: 2rem;
        & span{
            @include adjust-font-size-to(0.9rem); 
        }
        & ul{
            @include span(100%);
            float: none;
            @include LpaddingR(1rem);
            & li{
                list-style-type: circle;
                color: #fff;
                @include adjust-font-size-to(0.7rem);
            }
        }
        & m_box_line{
            
        }
        
    }
}