//*POLEVOY.SERGEY*\\
//*2016-2017*\\
//*Разработка шаблона по ГОСТУ*\\
//*http://infoinstant.ru/*\\
//*Авторство прошу не удалять!*\\
//*По всем вопросам прошу писать*\\
//*polevoy.sergey@hotmail.com**\\
//
//
//
//Файл-содержит отдельные компоненты \\
.owl-carousel .owl-item {
    position: relative;
    min-height: 1px;
    float: left;
    -webkit-backface-visibility: hidden;
    -webkit-tap-highlight-color: transparent;
    -webkit-touch-callout: none; 
    
       // background: white;
      //-webkit-transition: all 0.7s ease;
      //-moz-transition: all 1s ease;
      //-o-transition: all 0.7s ease;
      //-ms-transition: all 0.7s ease;
      //z-index: 100;
    &.active:hover{
        //background: white;
            //-webkit-transform: rotate(0deg) scale(1);
              //-moz-transform: rotate(0deg) scale(1);
              //-o-transform: rotate(0deg) scale(1);
              //-ms-transform: rotate(0deg) scale(1);
              //z-index: 105;
            position: relative;
        & img{
            
        }
    }
}
.owl-carousel .owl-item img {
    display: block;
    width: 100%;
    -webkit-transform-style: preserve-3d; 
}
/*Slide
-------------------------------------------------------------------------------*/
.owl-carousel {
  position: relative;
  width: 100%;
  -ms-touch-action: pan-y;
}
.owl-theme .owl-dots{
    width: 100%;
    z-index: 99;
    margin-top: -1.1rem;
    position: relative;
}

.owl-theme .owl-controls {
  position: absolute;
  top: 26px;
  text-align: center;
  width: 100%;
}

.owl-theme .owl-controls .owl-page {
  display: inline-block;
  zoom: 1;
  *display: inline;
  /*IE7 life-saver */
}

.owl-theme .owl-controls .owl-page span {
  display: block;
  width: 12px;
  height: 12px;
  margin: 5px 7px;
  filter: Alpha(Opacity=50);
  /*IE7 fix*/
  opacity: 0.5;
  -webkit-border-radius: 20px;
  -moz-border-radius: 20px;
  border-radius: 20px;
  background: #869791;
}

.owl-theme .owl-controls .owl-page.active span,
.owl-theme .owl-controls.clickable .owl-page:hover span {
  filter: Alpha(Opacity=100);
  /*IE7 fix*/
  opacity: 1;
}

.owl-nav {
  @include margin-leader(-13);
}
.owl-theme .owl-nav {
  //margin-top: 10px;
  text-align: center;
  -webkit-tap-highlight-color: transparent;
    position:absolute;
	text-align: center;
    width: 100%;
}
.owl-nav .owl-prev {
  float: left;
  width: 47px;
  height: 46px;
  background-image: url(../img/prev.png);
  background-repeat: no-repeat;
  background-position: center;
cursor: pointer;
}
.owl-nav .owl-next {
  float: right;
  width: 47px;
  height: 46px;
  background-image: url(../img/next.png);
  background-repeat: no-repeat;
  background-position: center;
cursor: pointer;
}
.owl-nav div {
  color: #FFF;
  display: inline-block;
  zoom: 1;
  *display: inline;
  /*IE7 life-saver */
  margin: 5px;
  padding: 3px 10px;
  font-size: 12px;
  -webkit-border-radius: 30px;
  -moz-border-radius: 30px;
  border-radius: 30px;
  filter: Alpha(Opacity=50);
  /*IE7 fix*/
  opacity: 0.5;
}
.owl-carousel .owl-stage-outer {
    width: 100%;
    position: relative;
    overflow: hidden;
    /* fix for flashing background */
    -webkit-transform: translate3d(0px, 0px, 0px); }

/**-----------------------------------------------------*/
//*Всплывающие окна*//

html.remodal-is-locked {
  overflow: hidden;

  -ms-touch-action: none;
  touch-action: none;
}

/* Anti FOUC */

.remodal{
    margin-left: 0;
    border-radius: 0px;
    border:1px soolid #2b2a28;
    -webkit-box-shadow: 0px 0px 42px 3px #2b2a28;
    -moz-box-shadow: 0px 0px 42px 3px #2b2a28;
    box-shadow: 0px 0px 42px 3px #2b2a28;
    & .form{
        @include LpaddingR(2rem);
        @include rhythm-padding(1);
        & div{
            border-bottom: 1px solid #414144;
            @include padding-leader(0.5);
            @include rhythm-margins(0.5);
            &:nth-child(2){
                & .left, .right{
                    font-weight: 700;
                @include adjust-font-size-to(1.2rem);
                    color: $yellow;
                }
            }
            & .left{
                @include span(65%);
                text-align: left;
                padding-left: 1rem;
            }
            & .right{
                @include span(25% last);
                text-align: right;
                padding-right: 1rem;
                & span{
                    font-style: italic;
                    text-decoration: line-through;
                    display: block;
                    float: left;
                }
            }
            &:after{
                @extend %fix;
            }
        }
        & fieldset{
            & #chose_file{
                @include span(45%);
                @include LmarginR(auto);
                @include rhythm-margins(1);
                display: block;
                float: none;
                background-position: left;
                height: 42px;
                line-height: 42px;
                font-size: 18px;
                text-decoration: none;
                border: 0;
                background-color: $yellow;
                margin-bottom: 15px;
                color: #fff;
            }
            & #chose_file_text{
                height: 42px;
                @include adjust-font-size-to(1rem);
                line-height: 45px;
                padding-left: 20px;
                color: #fff;
                overflow: hidden;
            }
            & #chose_file_input{
                display: none;
            }
        }
    }
    & .formTitle{

        color:#000;
    }
    & #textarea{

        @include adjust-font-size-to(1rem);
         @include rhythm-margins(0.3);
         padding-left: 0.3rem;
         padding-right: 0.3rem;
        color: #062b54;
         background: #f5fafc;
        border: 1px solid #b98542;
         border-radius: 10px;
        &::-webkit-input-placeholder {color:#2b2a28;}
        & ::-moz-placeholder          {color:#2b2a28;}/* Firefox 19+ */
        & :-moz-placeholder           {color:#2b2a28;}/* Firefox 18- */
        & :-ms-input-placeholder      {color:#2b2a28;}
         }
    & img{
        
    }
//////////////////////////////////////////////////////
    /////////////////////////////////////////////////
    /////////////////////////////////////////////////
     & input{
         //text-transform: uppercase;
        @include adjust-font-size-to(1.3rem);
         @include rhythm-margins(0.2);
         @include rhythm-padding(0.2);
         @include LpaddingR(0.3rem);
         @include span(8);
         @include push(2);
        color: #2b2a28;
         background: #fff;
        border: 0px solid #0f73d9;
         border-radius: 3px;
        &::-webkit-input-placeholder {color:#c9c9c9;}
        & ::-moz-placeholder          {color:#c9c9c9;}/* Firefox 18- */
        & :-ms-input-placeholder      {color:#c9c9c9;}
         &[type='submit']{
            @include span(6 last);
            color: $gray2;
            padding-left: 1rem;
            padding-right: 1rem;
            border-radius: 3px;
            display: block;
            margin: 1rem auto 0;
            float: right;
             background: $yellow;
            @include adjust-font-size-to(0.9rem);
            //background-image: url(../img/button_bg.png);
            @include rhythm-padding(0.1);
            //border: 3px solid rgba(#2b2a28,.6);
             font-weight: 700;
             &:hover{
                 //border: 3px solid rgba(#0f73d9,.6);
                 cursor: pointer;
                 background: #4e79c1;
                 color: #fff;
             }
         }
         
    }
}
#secondForm{
    
    
}
#secondimg{
    & img{
        @include span(100%);
    }
}
/* Hide scroll bar */

html.remodal-is-locked {
  overflow: hidden;

  -ms-touch-action: none;
  touch-action: none;
}


/* Anti FOUC */

.remodal,
[data-remodal-id] {
  display: none;
}

/* Necessary styles of the overlay */

.remodal-overlay {
  position: fixed;
  z-index: 9999;
  top: -5000px;
  right: -5000px;
  bottom: -5000px;
  left: -5000px;

  display: none;
}

/* Necessary styles of the wrapper */

.remodal-wrapper {
  position: fixed;
  z-index: 10000;
  top: 0;
  right: 0;
  bottom: 0;
  left: 0;

  display: none;
  overflow: auto;

  text-align: center;

  -webkit-overflow-scrolling: touch;
}

.remodal-wrapper:after {
  display: inline-block;

  height: 100%;
  margin-left: -0.05em;

  content: "";
}


/* Fix iPad, iPhone glitches */

.remodal-overlay,
.remodal-wrapper {
  -webkit-backface-visibility: hidden;
  backface-visibility: hidden;
}

/* Necessary styles of the modal dialog */

.remodal {
  position: relative;

  outline: none;

  -webkit-text-size-adjust: 100%;
  -moz-text-size-adjust: 100%;
  -ms-text-size-adjust: 100%;
  text-size-adjust: 100%;
}

.remodal-is-initialized {
  /* Disable Anti-FOUC */
  display: inline-block;
}

/* ==========================================================================
   Remodal's default mobile first theme
   ========================================================================== */

/* Default theme styles for the background */



.remodal-bg.remodal-is-opening,
.remodal-bg.remodal-is-opened {
  -webkit-filter: blur(3px);
  filter: blur(3px);
}


/* Default theme styles of the overlay */

.remodal-overlay {
  background: rgba(28,28,30,0.76);
}



.remodal-overlay.remodal-is-opening,
.remodal-overlay.remodal-is-closing {
  -webkit-animation-duration: 0.3s;
  animation-duration: 0.3s;
  -webkit-animation-fill-mode: forwards;
  animation-fill-mode: forwards;
}

.remodal-overlay.remodal-is-opening {
  -webkit-animation-name: remodal-overlay-opening-keyframes;
  animation-name: remodal-overlay-opening-keyframes;
}

.remodal-overlay.remodal-is-closing {
  -webkit-animation-name: remodal-overlay-closing-keyframes;
  animation-name: remodal-overlay-closing-keyframes;
}


/* Default theme styles of the wrapper */

.remodal-wrapper {
  padding: 10px 10px 0;
}

/* Default theme styles of the modal dialog */

.remodal {
  -webkit-box-sizing: border-box;
  box-sizing: border-box;
  width: 100%;
  margin-bottom: 10px;
  padding: 0.5rem;

  -webkit-transform: translate3d(0, 0, 0);
  transform: translate3d(0, 0, 0);

  color: #fff;
  background: #111113;
}

.remodal.remodal-is-opening,
.remodal.remodal-is-closing {
  -webkit-animation-duration: 0.3s;
  animation-duration: 0.3s;
  -webkit-animation-fill-mode: forwards;
  animation-fill-mode: forwards;
}

.remodal.remodal-is-opening {
  -webkit-animation-name: remodal-opening-keyframes;
  animation-name: remodal-opening-keyframes;
}

.remodal.remodal-is-closing {
  -webkit-animation-name: remodal-closing-keyframes;
  animation-name: remodal-closing-keyframes;
}

/* Vertical align of the modal dialog */

.remodal,
.remodal-wrapper:after {
  vertical-align: middle;
}

/* Close button */

.remodal-close {
  position: absolute;
  top: 15px;
  left: 15px;

  display: block;
  overflow: visible;

  width: 35px;
  height: 35px;
  margin: 0;
  padding: 0;

  cursor: pointer;
  -webkit-transition: color 0.2s;
  transition: color 0.2s;
  text-decoration: none;

  color: #fff;
  border: 0;
  outline: 0;
  background: transparent;
}

.remodal-close:hover,
.remodal-close:focus {
  color: #2b2e38;
}

.remodal-close:before {
  font-family: Arial, "Helvetica CY", "Nimbus Sans L", sans-serif !important;
  font-size: 50px;
  line-height: 35px;

  position: absolute;
  top: 0;
  left: 0;

  display: block;

  width: 35px;

  content: "\00d7";
  text-align: center;
}

/* Dialog buttons */

.remodal-confirm,
.remodal-cancel {
  font: inherit;

  display: inline-block;
  overflow: visible;

  min-width: 110px;
  margin: 0;
  padding: 12px 0;

  cursor: pointer;
  -webkit-transition: background 0.2s;
  transition: background 0.2s;
  text-align: center;
  vertical-align: middle;
  text-decoration: none;

  border: 0;
  outline: 0;
}

.remodal-confirm {
  color: #fff;
  background: #81c784;
}

.remodal-confirm:hover,
.remodal-confirm:focus {
  background: #66bb6a;
}

.remodal-cancel {
  color: #fff;
  background: #e57373;
}

.remodal-cancel:hover,
.remodal-cancel:focus {
  background: #ef5350;
}

/* Remove inner padding and border in Firefox 4+ for the button tag. */

.remodal-confirm::-moz-focus-inner,
.remodal-cancel::-moz-focus-inner,
.remodal-close::-moz-focus-inner {
  padding: 0;

  border: 0;
}

/* Keyframes
   ========================================================================== */

@-webkit-keyframes remodal-opening-keyframes {
  from {
    -webkit-transform: scale(1.05);
    transform: scale(1.05);

    opacity: 0;
  }
  to {
    -webkit-transform: none;
    transform: none;

    opacity: 1;
  }
}

@keyframes remodal-opening-keyframes {
  from {
    -webkit-transform: scale(1.05);
    transform: scale(1.05);

    opacity: 0;
  }
  to {
    -webkit-transform: none;
    transform: none;

    opacity: 1;
  }
}

@-webkit-keyframes remodal-closing-keyframes {
  from {
    -webkit-transform: scale(1);
    transform: scale(1);

    opacity: 1;
  }
  to {
    -webkit-transform: scale(0.95);
    transform: scale(0.95);

    opacity: 0;
  }
}

@keyframes remodal-closing-keyframes {
  from {
    -webkit-transform: scale(1);
    transform: scale(1);

    opacity: 1;
  }
  to {
    -webkit-transform: scale(0.95);
    transform: scale(0.95);

    opacity: 0;
  }
}

@-webkit-keyframes remodal-overlay-opening-keyframes {
  from {
    opacity: 0;
  }
  to {
    opacity: 1;
  }
}

@keyframes remodal-overlay-opening-keyframes {
  from {
    opacity: 0;
  }
  to {
    opacity: 1;
  }
}

@-webkit-keyframes remodal-overlay-closing-keyframes {
  from {
    opacity: 1;
  }
  to {
    opacity: 0;
  }
}

@keyframes remodal-overlay-closing-keyframes {
  from {
    opacity: 1;
  }
  to {
    opacity: 0;
  }
}

/* Media queries
   ========================================================================== */

@media only screen and (min-width: 641px) {
  .remodal {
    max-width: 700px; 
  }
    .remodal.images {
    max-width: 800px;
  }
}

/* IE8
   ========================================================================== */

.lt-ie9 .remodal-overlay {
  background: #2b2e38;
}

.lt-ie9 .remodal {
      max-width: 1340px;
}
